body{
    background-color: #B2BEB5;
    font-family: sans-serif;
  }
  
  .bilde{
    width: 1000px;
    border-radius: 10%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .overskrift{
    text-align: center;
    margin-top: 50 px;
    color: #ff0000;
  }
  
  .undero{
    text-align: center;
    color: }
  
  ul{
    text-align: center;}
  
    .tekst{
      text-align: center;
      font-style: italic;
      font-size: 20px
    }